* {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #000133;
}
html {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

.header,
.footer {
  background: #00022e;
  height: 7%;
  color: #fc86aa;
}

.container {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  background: #f7f5f5;
}
.drawer {
  background: #d8dcd6;
  width: 0px;
}

.opened {
  width: 20%;
}
.header {
  display: flex;
  background: #191a21;
  height: 8vh;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #191a21;
  color: white;
  height: 7vh;
}

.icon {
  padding: 10px;
}

.icon:hover {
  cursor: pointer;
}

.header-title {
  margin: auto;
}
.background {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#b1b4e5 1px, transparent 1px),
    linear-gradient(to right, #b1b4e5 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}
